# Requirements only needed for unittests and during development.
# They will be installed automatically when running `python setup.py test`.
# ATTENTION: Don't remove pytest-cov and pytest as they are needed.
pytest-cov
pytest
